*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section#contact {
  padding: 6rem 1rem;
  margin: 0 auto;
}

.infoContainer {
  margin-bottom: 2rem;
}

.infoTitle {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formInput {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="email"],
textarea {
  font-family: "Noto Sans", sans-serif;
  padding: 1rem 0;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: transparent;
  transition: border-color 0.2s ease;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
  color: var(--text-color);
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-bottom: 1px solid var(--accent-color);
  outline: none;
}

textarea {
  min-height: 6rem;
}

.contactBtn {
  max-width: 10rem;
}

.notification {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  background-color: var(--accent-color);
  color: var(--text-color);
  border-radius: 15px;
  display: flex;
  align-items: center;
  opacity: 0;
  z-index: 1005;
  animation: fadeInOut 3s ease-in-out forwards;
}

.notification.show {
  opacity: 1;
}

.checkmark {
  font-size: 2rem;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.checkmarkIcon {
  color: #12bd1d;
}

.notificationMessage {
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Bigger screens */
@media (min-width: 1024px) {
  section#contact {
    padding: 6rem 3rem;
    max-width: 75rem;
    margin: 0 auto;
  }

  .innerInfo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 auto;
    gap: 2rem;
  }

  .infoTitle,
  .infoList {
    margin-top: 0.8rem;
  }

  form {
    flex: 1;
  }
}
