*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Assistant", sans-serif;
}

.infoContainer {
  margin-bottom: 2rem;
}

.infoTitle {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

section#contact {
  padding: 6rem 1rem;
  max-width: 40rem;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formInput {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 1rem 0;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: transparent;
  transition: border-color 0.3s ease;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
  color: var(--text-color);
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-bottom: 1px solid var(--accent-color);
  outline: none;
}

textarea {
  min-height: 6rem;
}

.contactBtn {
  max-width: 8.9rem;
}
