*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.featuredProjectsWrapper {
  padding: 6rem 1rem;
}

.featuredProjectsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
}

.featuredProjectCard {
  position: relative;
  border-radius: 15px;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  transform: translateY(40px);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-out,
    border 0.5s ease;
  border: 1px solid var(--text-color);
  background-color: var(--bg-color);
}

.featuredProjectCard::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 6px;
  background: linear-gradient(90deg, #630909, #fd1616, #630909, #630909);
  background-size: 200% 100%;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.featuredProjectCard:hover::after {
  opacity: 1;
  animation: neonGlow 2s linear infinite;
}

.featuredProjectCard.visible {
  opacity: 1;
  transform: translateY(0);
}

@keyframes neonGlow {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: -100% 0%;
  }
}

.featuredProjectCard:hover {
  transform: translateY(-10px);
  border: 1px solid var(--accent-color);
}

.featuredProjectCard:hover .featuredProjectTitle {
  color: var(--accent-color);
}
.projectImage {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.featuredProjectContent {
  padding: 1rem;
  position: relative;
}

.featuredProjectTitle {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: var(--text-color);
  transition: color 0.2s ease;
}

.featuredProjectDescription {
  font-size: 0.9rem;
  color: var(--text-grey-color);
  margin-bottom: 1rem;
}

.featuredProjectTags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 70%;
}

.featuredProjectTag {
  color: var(--text-grey-color);
  background-color: var(--bg-alternate);
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--text-color);
  border-radius: 12px;
  font-size: 0.8rem;
  font-weight: 500;
}

.featuredIconContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.featuredProjectCodeLink {
  color: var(--text-grey-color);
  background-color: var(--accent-color);
  padding: 0.5rem;
  border-radius: 12px;
  font-size: 1.2rem;
  transition: color 0.2s ease, background-color 0.2s ease, transform 0.1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.featuredProjectCodeLink:hover,
.externalLinkIcon:hover {
  color: var(--text-color);
  background-color: var(--hover-color);
  transform: scale(1.05);
}

.externalLinkIcon {
  font-size: 1.2rem;
  color: var(--text-grey-color);
  background-color: var(--accent-color);
  padding: 0.5rem;
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 12px;
  cursor: pointer;
}

/* Bigger screens */
@media (min-width: 1024px) {
  .featuredProjectsWrapper {
    padding: 6rem 3rem;
  }

  .featuredProjectsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 69rem;
    margin: 0 auto;
  }

  .featuredProjectCard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border: 1px solid var(--text-color);
    border-radius: 15px;
    overflow: hidden;
    opacity: 0;
    transform: translateY(40px);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-out,
      border 0.5s ease;
  }

  .featuredProjectCard:nth-child(even) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "content image";
  }

  .featuredProjectCard:nth-child(even) .featuredProjectContent {
    grid-area: content;
  }

  .projectImage {
    width: 100%;
    height: 25rem;
    object-fit: cover;
    border-radius: 15px;
  }

  .featuredProjectContent {
    padding: 1rem;
    margin: 0 1rem;
  }

  .featuredProjectDescription {
    margin-bottom: 2rem;
  }
}
