*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.footer {
  background-color: var(--nav-color);
  color: var(--text-color);
  text-align: center;
  padding: 3rem 0;
  width: 100%;
}

.footerText {
  margin: 0;
}

.iconContainer {
  margin-top: 1rem;
}

.icon {
  margin: 0 1rem;
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.icon:hover {
  color: var(--accent-color);
}
