*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.iconContainer {
  display: none;
}

@media (min-width: 1200px) {
  .iconContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 25px;
    left: 1.3rem;
    z-index: 50;
    animation: fadeIn 0.5s ease-in-out forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .iconWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.4rem;
    height: 2.4rem;
    text-decoration: none;
    padding: 0.4rem;
    border-radius: 12px;
    cursor: pointer;
    background-color: var(--accent-color);
    transition: background-color 0.2s ease, transform 0.2s ease;
  }

  .icon:hover {
    color: var(--text-color);
    background-color: var(--nav-color);
    transform: scale(1.1) rotate(-5deg);
  }

  .icon1 {
    margin-bottom: 1rem;
  }
}
