*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.scrollUp {
  position: fixed;
  bottom: 35px;
  right: 27px;
  background-color: var(--accent-color);
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 21;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.scrollUp.visible {
  opacity: 1;
  visibility: visible;
}

.scrollUp:hover {
  background-color: var(--accent-color);
}
